{% extends "base.html" %}
{% block content %}
<h2>Address</h2>
  <address>
    <strong>Manu Varkey</strong><br>
    Assistant Executive Engineer (Electrical)<br>
    Central Public Works Department<br>
    Kendriya Bhavan, Kallayi<br>
    Calicut - 673003<br>
    <abbr title="Phone">&#9742;</abbr> (+91) 8281885820 <br>
    <abbr title="e-mail">&#9993;</abbr> <a href="mailto:manuvarkey@gmail.com">manuvarkey@gmail.com</a> <br>
  </address>
<h2>Our other products</h2>
<h3>CMB Automiser</h3>
  <p>
    CMB Automiser is a computerised quantity accounting and cost billing application for use in public works organisations. It allows the user to perform these objectives with an intuitive interface and logical work flow. The results are presented in fully formatted, cross referenced pdf documents.
  </p>
  <p>
    See <a href="http://manuvarkey.github.io/cmbautomiser/">CMB Automiser</a> for more details.
  </p>
{% endblock %}
